#mt-h5-loading {
    width: 100%;
    height: 100%;
    background: #0f2546;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

#mt-h5-loading .icon {
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#mt-h5-loading .g-container {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid #7254ff;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#mt-h5-loading .g-circle {
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    border-radius: 50%;
    background: conic-gradient(#72f9fd 0%, transparent 90%, transparent);
    animation: rotate 1s linear infinite;
    transform-origin: 50% 50%;
}

#mt-h5-loading .g-circle::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    right: 3px;
    background: #0f2546;
    border-radius: 50%;
}

#mt-h5-loading .default-img,
#mt-h5-loading .active-img {
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mt-h5-loading .active-img {
    z-index: 1;
    animation: loading 2s linear;
}

#__vconsole {
    position: relative;
    z-index: 10000000;
}

@keyframes loading {
    from {
        clip-path: inset(100% 0 0 0);
    }

    to {
        clip-path: inset(1% 0 0 0);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

@-moz-keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

@-o-keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}
